<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GPU Monitoring</title>
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script> 


        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/treemap.js"></script>
        <script src="https://code.highcharts.com/modules/treegraph.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>





        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div class="app">
            <div class="row">
                <div class="scroll-area-sm main">
                    <perfect-scrollbar class="ps-show-limits">
                        <div class="flex-container main">
                            <div :class="['card', 'computer', 'my-3', 'ms-2', {connected: computer.lastResponse != 0}]" v-for="(computer, index) in computerList" :key="computer.IP">
                                <div class="card-header" @click="goToSlide(index)">
                                    <div class="row">
                                        <img :class="['connectedIcon', {hidden: index != this.activeIndex}]" src="static/media/wifi.png">
                                        <h5 class="card-title text-center">{{computer.hostname}}</h5>
                                        <h8 class="card-subtitle text-center">Last reboot: {{computer.last_reboot}}</h8>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="scroll-area-sm autoScroll">
                                        <perfect-scrollbar class="ps-show-limits">
                                            <div style="position: static;" class="ps ps--active-y">
                                                <div class="ps-content">
                                                    <ul class="list-group list-group-flush">
                                                        <li :class="['list-group-item', {connected: computer.lastResponse != 0}]" v-if="computer.lastResponse == 0" v-for="gpu in computer.GPU" :key="gpu.id">
                                                            <div class="row">
                                                                    <img :src="status(gpu.temperature, gpu.gpu_usage, gpu.memory_usage)" class="status-led col-1" style="width: 3.5em;">
                                                                <div class="info col">
                                                                    {{gpu.number}} - {{gpu.temperature}}°C - Memory: {{gpu.memory_usage}}% - Usage: {{gpu.gpu_usage}}%
                                                                </div>
                                                            </div>  
                                                        </li>
                                                        <li :class="['list-group-item', {connected: computer.lasResponse != 0}]" v-else>
                                                            Disconnected for {{getDisconnectedTime(computer.lastResponse)}} 
                                                        </li>
                                                    </ul>
                                                </div>  
                                            </div>
                                        </perfect-scrollbar>
                                    </div>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>
                    <div id="detail" :class="['card', 'ms-2', {hidden: computerList.length == 0}]">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div v-for="(item, index) in computerList" :key="index" :class="{'carousel-item': true, active: index === activeIndex}">
                                    <div class="flex-container details">
                                        <div class="col-3 details infos">
                                            <div class="details infos header flex-container">
                                              <div class="col-10">
                                                <div class="row">
                                                  <div class="col">
                                                    <h5>{{ item.hostname }}:</h5>
                                                    <h9>{{ item.IP }}</h9>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col">
                                                    <p>CPU usage: {{item.CPU}}% - Memory usage: {{item.MEMORY}}%</p>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-2">
                                                <button class="btn btn-primary modifyButton" data-mdb-toggle="modal" data-mdb-target="#deleteModal" @click="this.selectedComputer = this.computerList[index]">Modify</button>
                                                <button class="btn btn-primary deleteButton" data-mdb-toggle="modal" data-mdb-target="#deleteModal" @click="this.selectedComputer = this.computerList[index]">Delete</button>
                                              </div>
                                            </div>
                                          </div>
                                          
                                          <div class="col details process">
                                            <div class="row">
                                              <div class="col-6">
                                                <h5 style="margin-bottom: 0;">Process</h5>
                                                <div class="scroll-area-sm autoScroll" style="margin-top: 1em; height: 10.5em; overflow-y: auto;">
                                                  <perfect-scrollbar class="ps-show-limits">
                                                    <div style="position: static;" class="ps ps--active-y">
                                                      <div class="ps-content">
                                                        <div class="table-container">
                                                          <table class="table" style="table-layout: fixed;">
                                                            <thead class="sticky-top" style="    background-color: white;">
                                                              <tr>
                                                                <th style="width: 35%;" class="text-nowrap">Name: <i>PID</i></th>
                                                                <th style="width: 10%;" class="text-nowrap">GPU</th>
                                                                <th style="width: 10%;" class="text-nowrap">CPU</th>
                                                                <th style="width: 15%;" class="text-nowrap">Memory</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody v-for="gpu in item.GPU" :key="gpu.id">
                                                              <tr>
                                                                <td colspan="4" class="text-center"><b>{{gpu.number}} - {{gpu.name}}</b></td>
                                                              </tr>
                                                              <tr v-for="proc in gpu.process" :key="proc.pid">
                                                                <td class="text-nowrap">{{proc.exec}}: <i>{{proc.pid}}</i></td>
                                                                <td class="text-nowrap">{{proc.gpu_memory}}%</td>
                                                                <td class="text-nowrap">{{proc.cpu}}%</td>
                                                                <td class="text-nowrap">{{proc.memory}}%</td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </div>
                                                      </div>  
                                                    </div>
                                                  </perfect-scrollbar>
                                                </div>
                                              </div>
                                              <div class="col" :id="[item.IP + 'process']"></div>
                                            </div>
                                          </div>
                                        <div :id="[item.IP + 'history']" class="col-3 details history"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="formModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New computer</h5>
                            <button class="btn-close" data-mdb-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="col mb-4">
                                    IP address:
                                    <input name="address" class="form-control form-control-sm" aria-label=".form-control-sm example" v-model="newComputer.IP" required>
                                </div>
                                <div class="col mb-4">
                                    Username:
                                    <input name="progress" class="form-control form-control-sm" aria-label=".form-control-sm example" v-model="newComputer.username" required>
                                </div>
                                <div class="col mb-4">
                                    Password:
                                    <input type="password" name="progress" class="form-control form-control-sm" aria-label=".form-control-sm example" v-model="newComputer.password" required>
                                </div>
                            </form>         
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button class="btn btn-primary danger" @click.prevent="addComputer" data-mdb-dismiss="modal">Add computer</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // Attach a keyup event listener to the document
                document.addEventListener('keyup', function(event) {
                // Check if the Enter key was pressed
                if (event.keyCode === 13) {
                    // Get the input field or button inside the modal
                    var inputField = document.querySelector('.btn btn-primary danger'); // Replace with the appropriate selector

                    // Check if the event target matches the input field or button
                    if (event.target === inputField) {
                    // Call the Vue.js method using Vue instance or component
                    app.addComputer(); // Replace with your Vue.js instance and method names
                    }
                }
                });

            </script>
            <div class="modal fade" id="deleteModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{selectedComputer.IP}} will be deleted. Confirm ?</h5>
                            <button class="btn-close" data-mdb-dismiss="modal"></button>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-mdb-dismiss="modal" @click="this.selectedComputer = {}">Cancel</button>
                            <button class="btn btn-danger btn-primary" @click="deleteComputer" data-mdb-dismiss="modal">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <sidebar>
                <div :class="['sidebar', 'sidebar-right', { collapsed: collapsed }]">
                    <div class="sidebar-header" @click="toggle">
                        <img class="notif" v-if="logs[0] == null"src="static/media/notif.png">
                        <img class="notif" v-else src="static/media/notif_alert.png">
                    </div>
                    <div class="sidebar-content">
                        <p id="name" :class="[{increased : collapsed}, {decreased : !collapsed}]">AURORA</p>

<!--
                        <input :class="{ hidden: collapsed }" type="number" v-model="computerList[0].GPU[0].temperature">
                        <input :class="{ hidden: collapsed }" type="number" v-model="computerList[0].GPU[0].gpu_usage">
                        <input :class="{ hidden: collapsed }" type="number" v-model="computerList[0].GPU[0].memory_usage">
                        <input :class="{ hidden: collapsed }" type="number" v-model="computerList[0].lastResponse">
-->

                        <div :class="['logs','card-body', {hidden: collapsed}]">
                            <div class="scroll-area-sm" style="height:40em">
                                <perfect-scrollbar class="ps-show-limits">
                                    <div style="position: static;" class="ps ps--active-y">
                                        <div class="ps-content">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" v-if="logs[0] == null"> No new logs</li>
                                                <li class="list-group-item sb" v-else v-for="log in logs" :key="log.id">
                                                    <div class="info col" style="font-size: 0.73em;" @click="delLog(log)">
                                                        {{log.message}} - {{log.date}} 
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                        </div>                  
                        <button :class="['btn', 'btn-primary', 'delete', { collapsed, hidden: collapsed }]" @click="cleanLogs()">Clear logs</button>               
                        <button :class="['btn', 'btn-primary', 'addPc', { hidden: collapsed }]" data-mdb-toggle="modal" data-mdb-target="#formModal">Add computer</button>   
                        <img :class="['aau', { collapsed: collapsed }]" src="static/media/aau.png">
                    </div>
                </div>              
            </sidebar>
        </div>
    </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
</html>