<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GPU Monitoring</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/script.js"></script>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div class="app">
            <div class="row">
                <div class="flex-container">
                    <div class="card my-3 ms-2" v-for="computer in computerList" :key="computer.IP">
                        <div class="card-header">
                            <div class="row">
                                <img class="connected" src="static/media/wifi.png">
                                <h5 class="card-title text-center">{{computer.IP}}</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="scroll-area-sm ">
                                <perfect-scrollbar class="ps-show-limits">
                                    <div style="position: static;" class="ps ps--active-y">
                                        <div class="ps-content">
                                            <ul class=" list-group list-group-flush">
                                                <li v-for="gpu in computer.GPU" :key="gpu.id" class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper ">
                                                            <div class="widget-content-left col-12">
                                                                <div class="row">
                                                                    <div class="col-1">
                                                                        <img :src="status(gpu.temperature, gpu.usage, gpu.max_capacity)" class="status-led">
                                                                    </div>
                                                                    <div class="info col">
                                                                        <!--To save some space within the card, i cut off the "NVIDIA" display with the slice() function--> 
                                                                        {{gpu.id}} - {{gpu.name.slice(7)}} - {{gpu.temperature}}°C - {{toPercent(gpu.usage, gpu.max_capacity)}}% 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <sidebar>
                <div :class="['sidebar', 'sidebar-right', { collapsed: collapsed }]">
                    <div class="sidebar-header" @click="toggle">
                        <img class="notif" src="static/media/notif.png">
                    </div>
                    <div class="sidebar-content">
                        <p class="name">TONAME</p>
                        <img :class="['aau', { collapsed: collapsed }]" src="static/media/aau.png">
                    </div>
                </div>              
            </sidebar>
        </div>
    </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="static/js/test.js"></script>
</html>
